<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Instore.Instore" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Instore" android:icon="@drawable/icon_shopping">
	 <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBHmdHQg65hoWA7FRVijeMH7yCG4I8TzX8" /></application>
</manifest>